<div class="superNav py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerOnMobile">
          <a class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-5" href="https://github.com/ahmd-nabil"  target="_blank" rel="noopener noreferrer"><strong><fa-icon [icon]="faGithub"></fa-icon>ahmd-nabil</strong></a>
          <a class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-5" href="https://www.linkedin.com/in/ahm3dnabil/"  target="_blank" rel="noopener noreferrer"><strong><fa-icon [icon]="faLinkedIn"></fa-icon>ahmd-nabil</strong></a>
          <div class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-5"><fa-icon [icon]="faGoogle"></fa-icon><strong> ahm3dnabil99@gmail.com</strong>
          </div>
        </div>
      </div>
    </div>
</div>