<div class="superNav border-bottom py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
          <a class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3" href="https://github.com/ahmd-nabil"  target="_blank" rel="noopener noreferrer"><strong><fa-icon [icon]="faGithub"></fa-icon>ahmd-nabil</strong></a>
          <a class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3" href="https://www.linkedin.com/in/ahm3dnabil/"  target="_blank" rel="noopener noreferrer"><strong><fa-icon [icon]="faLinkedIn"></fa-icon>ahmd-nabil</strong></a>
          <div class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><fa-icon [icon]="faGoogle"></fa-icon><strong> ahm3dnabil99@gmail.com</strong>
          </div>
        </div>
      </div>
    </div>
</div><nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1 class="logo"><span>B</span>azaar</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-home me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-shopping-bag me-1"></i>Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-th-list me-1"></i>Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
            <li><a class="dropdown-item" href="#">Category 3</a></li>
            <li><a class="dropdown-item" href="#">Category 4</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-info-circle me-1"></i>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-paper-plane me-1"></i>Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-shopping-cart me-1"></i>Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-user me-1"></i>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>