<div class="container">
    <h1 class="text-center my-5">Checkout Form</h1>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="row" style="margin-bottom:100px;">
        <div class="col-md-6" formGroupName="customer">
          <h4>Customer Info</h4>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" [class.is-invalid]="checkoutForm.get('customer.firstName')?.invalid && (checkoutForm.get('customer.firstName')?.dirty || checkoutForm.get('customer.firstName')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('customer.firstName')?.invalid && (checkoutForm.get('customer.firstName')?.dirty || checkoutForm.get('customer.firstName')?.touched)">
              <div *ngIf="checkoutForm.get('customer.firstName')?.errors?.['required']">First name is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" [class.is-invalid]="checkoutForm.get('customer.lastName')?.invalid && (checkoutForm.get('customer.lastName')?.dirty || checkoutForm.get('customer.lastName')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('customer.lastName')?.invalid && (checkoutForm.get('customer.lastName')?.dirty || checkoutForm.get('customer.lastName')?.touched)">
              <div *ngIf="checkoutForm.get('customer.lastName')?.errors?.['required']">Last name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" [class.is-invalid]="checkoutForm.get('customer.email')?.invalid && (checkoutForm.get('customer.email')?.dirty || checkoutForm.get('customer.email')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('customer.email')?.invalid && (checkoutForm.get('customer.email')?.dirty || checkoutForm.get('customer.email')?.touched)">
              <div *ngIf="checkoutForm.get('customer.email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="checkoutForm.get('customer.email')?.errors?.['email']">Invalid email format.</div>
            </div>
          </div>
        </div>
        <div class="col-md-6" formGroupName="creditCard">
          <h4>Payment Info</h4>
          <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" [class.is-invalid]="checkoutForm.get('creditCard.cardNumber')?.invalid && (checkoutForm.get('creditCard.cardNumber')?.dirty || checkoutForm.get('creditCard.cardNumber')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('creditCard.cardNumber')?.invalid && (checkoutForm.get('creditCard.cardNumber')?.dirty || checkoutForm.get('creditCard.cardNumber')?.touched)">
              <div *ngIf="checkoutForm.get('creditCard.cardNumber')?.errors?.['required']">Card number is required.</div>
              <div *ngIf="checkoutForm.get('creditCard.cardNumber')?.errors?.['pattern']">Card number must be a 16-digit number.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="cardExpiry">Card Expiry</label>
            <input type="text" placeholder="MM/YY" class="form-control" id="cardExpiry" formControlName="cardExpiry" [class.is-invalid]="checkoutForm.get('creditCard.cardExpiry')?.invalid && (checkoutForm.get('creditCard.cardExpiry')?.dirty || checkoutForm.get('creditCard.cardExpiry')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('creditCard.cardExpiry')?.invalid && (checkoutForm.get('creditCard.cardExpiry')?.dirty || checkoutForm.get('creditCard.cardExpiry')?.touched)">
              <div *ngIf="checkoutForm.get('creditCard.cardExpiry')?.errors?.['required']">Card expiry is required.</div>
              <div *ngIf="checkoutForm.get('creditCard.cardExpiry')?.errors?.['pattern']">Card expiry must be in the format MM/YY.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="cardCVC">CVC</label>
            <input type="text" class="form-control" id="cardCVC" formControlName="cardCVC" [class.is-invalid]="checkoutForm.get('creditCard.cardCVC')?.invalid && (checkoutForm.get('creditCard.cardCVC')?.dirty || checkoutForm.get('creditCard.cardCVC')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('creditCard.cardCVC')?.invalid && (checkoutForm.get('creditCard.cardCVC')?.dirty || checkoutForm.get('creditCard.cardCVC')?.touched)">
              <div *ngIf="checkoutForm.get('creditCard.cardCVC')?.errors?.['required']">CVC is ['required'].</div>
              <div *ngIf="checkoutForm.get('creditCard.cardCVC')?.errors?.['pattern']">CVC must be a 3-digit number.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" formGroupName="shippingAddress">
          <h4>Shipping Address</h4>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" formControlName="country" [class.is-invalid]="checkoutForm.get('shippingAddress.country')?.invalid && (checkoutForm.get('shippingAddress.country')?.dirty || checkoutForm.get('shippingAddress.country')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('shippingAddress.country')?.invalid && (checkoutForm.get('shippingAddress.country')?.dirty || checkoutForm.get('shippingAddress.country')?.touched)">
              <div *ngIf="checkoutForm.get('shippingAddress.country')?.errors?.['required']">Country is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" formControlName="street" [class.is-invalid]="checkoutForm.get('shippingAddress.street')?.invalid && (checkoutForm.get('shippingAddress.street')?.dirty || checkoutForm.get('shippingAddress.street')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('shippingAddress.street')?.invalid && (checkoutForm.get('shippingAddress.street')?.dirty || checkoutForm.get('shippingAddress.street')?.touched)">
              <div *ngIf="checkoutForm.get('shippingAddress.street')?.errors?.['required']">Street is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city" [class.is-invalid]="checkoutForm.get('shippingAddress.city')?.invalid && (checkoutForm.get('shippingAddress.city')?.dirty || checkoutForm.get('shippingAddress.city')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('shippingAddress.city')?.invalid && (checkoutForm.get('shippingAddress.city')?.dirty || checkoutForm.get('shippingAddress.city')?.touched)">
              <div *ngIf="checkoutForm.get('shippingAddress.city')?.errors?.['required']">City is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" formControlName="state" [class.is-invalid]="checkoutForm.get('shippingAddress.state')?.invalid && (checkoutForm.get('shippingAddress.state')?.dirty || checkoutForm.get('shippingAddress.state')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('shippingAddress.state')?.invalid && (checkoutForm.get('shippingAddress.state')?.dirty || checkoutForm.get('shippingAddress.state')?.touched)">
              <div *ngIf="checkoutForm.get('shippingAddress.state')?.errors?.['required']">State is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input type="text" class="form-control" id="zipcode" formControlName="zipcode" [class.is-invalid]="checkoutForm.get('shippingAddress.zipcode')?.invalid && (checkoutForm.get('shippingAddress.zipcode')?.dirty || checkoutForm.get('shippingAddress.zipcode')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('shippingAddress.zipcode')?.invalid && (checkoutForm.get('shippingAddress.zipcode')?.dirty || checkoutForm.get('shippingAddress.zipcode')?.touched)">
              <div *ngIf="checkoutForm.get('shippingAddress.zipcode')?.errors?.['required']">Zipcode is required.</div>
              <div *ngIf="checkoutForm.get('shippingAddress.zipcode')?.errors?.['pattern']">Zipcode must be a 5-digit number.</div>
            </div>
          </div>
        </div>
        <div class="col-md-6" formGroupName="billingAddress">
          <h4>Billing Address</h4>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" formControlName="country" [class.is-invalid]="checkoutForm.get('billingAddress.country')?.invalid && (checkoutForm.get('billingAddress.country')?.dirty || checkoutForm.get('billingAddress.country')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('billingAddress.country')?.invalid && (checkoutForm.get('billingAddress.country')?.dirty || checkoutForm.get('billingAddress.country')?.touched)">
              <div *ngIf="checkoutForm.get('billingAddress.country')?.errors?.['required']">Country is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" formControlName="street" [class.is-invalid]="checkoutForm.get('billingAddress.street')?.invalid && (checkoutForm.get('billingAddress.street')?.dirty || checkoutForm.get('billingAddress.street')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('billingAddress.street')?.invalid && (checkoutForm.get('billingAddress.street')?.dirty || checkoutForm.get('billingAddress.street')?.touched)">
              <div *ngIf="checkoutForm.get('billingAddress.street')?.errors?.['required']">Street is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city" [class.is-invalid]="checkoutForm.get('billingAddress.city')?.invalid && (checkoutForm.get('billingAddress.city')?.dirty || checkoutForm.get('billingAddress.city')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('billingAddress.city')?.invalid && (checkoutForm.get('billingAddress.city')?.dirty || checkoutForm.get('billingAddress.city')?.touched)">
              <div *ngIf="checkoutForm.get('billingAddress.city')?.errors?.['required']">City is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" formControlName="state" [class.is-invalid]="checkoutForm.get('billingAddress.state')?.invalid && (checkoutForm.get('billingAddress.state')?.dirty || checkoutForm.get('billingAddress.state')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('billingAddress.state')?.invalid && (checkoutForm.get('billingAddress.state')?.dirty || checkoutForm.get('billingAddress.state')?.touched)">
              <div *ngIf="checkoutForm.get('billingAddress.state')?.errors?.['required']">State is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input type="text" class="form-control" id="zipcode" formControlName="zipcode" [class.is-invalid]="checkoutForm.get('billingAddress.zipcode')?.invalid && (checkoutForm.get('billingAddress.zipcode')?.dirty || checkoutForm.get('billingAddress.zipcode')?.touched)">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('billingAddress.zipcode')?.invalid && (checkoutForm.get('billingAddress.zipcode')?.dirty || checkoutForm.get('billingAddress.zipcode')?.touched)">
              <div *ngIf="checkoutForm.get('billingAddress.zipcode')?.errors?.['required']">Zipcode is required.</div>
              <div *ngIf="checkoutForm.get('billingAddress.zipcode')?.errors?.['pattern']">Zipcode must be a 5-digit number.</div>
            </div>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="sameAsShipping" formControlName="sameAsShipping" (change)="onSameAsShippingChange($event)">
            <label class="form-check-label" for="sameAsShipping">Same as Shipping Address</label>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Review Order <hr></div>
        <div class="card-body">
        <p class="card-text" style="font-weight: bold;">Subtotal: {{ subTotal | currency:'EGP'}}</p>
        <p class="card-text" style="font-weight: bold;">Shipping: {{ shipping | currency:'EGP'}}</p>
        <p class="card-text price">Total: {{ subTotal | currency:'EGP'}}</p>
        </div>
        <div class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Submit</button>
      </div>
      </div>
    </form>

</div>